*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color : white; 
  --text-color :black;
  --border-color : black; 
  --title-color : gold; 
  --name-color : blueViolet; 
  --player-background : #f5f5f5b7;
  --player-backdrop-filter : blur( 0px );
--player-webkit-backdrop-filter: blur( 0px );
  background: ;
--player-box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
--name-light-color :tomato;
--player-name:purple;
--file-background :whiteSMoke;

}
body.dark {
    --background-color : black; 
  --text-color :white;
  --border-color : white; 
  --name-color : green;
  --player-background :#000000b9;
  --name-light-color:purple;
  --player-name:gold;
  --file-background:rgba(9,34,31,0.8);
}
body.light {
   --background-color : white; 
  --text-color :black;
  --border-color : black; 
  --title-color : gold; 
  --name-color : blueViolet;  
}
/* Custom styles */
body {
  position: relative;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.navbarTop {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100% !important;
}
 .brand {
  font-size: 30px;
}

.switch-container {
display: flex;
  justify-content: center;
  align-items: center;
}
#checkbox {
  visibility: hidden;
}


.label {
  position: relative;
  display: flex;
  height: 26px;
  width: 60px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 5px 4px 10px #333;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.shadow {
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
}
.moon {
  position: absolute;
  left: 0;
}
.sun {
  position: absolute;
  right: 0;
}

.ball {
  background-color: black;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.5s;
}
#checkbox:checked + .label .ball {
  transform: translateX(35px);
}
#checkbox:checked + .label {
  background-color: black;
}
#checkbox:checked + .label .ball {
  background-color: white ;
}
.upload {
  position: absolute;
  top: 13px;
  left: 35%;
  background-color:var(--file-background);
  width: 120px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  
}
.file {
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--player-name);
  
}
.music-list {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
  padding-inline: 15px;
}
 .music {
  display: flex;
  flex-direction: row;
  justify-content: space-between
  ;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  border: .4px solid var(--border-color);
}
.music.active {
    border: 2px solid #4CAF50; /* Green border */
    background-color: rgba(76, 175, 80, 0.2); /* Light green background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners */
    padding: 5px; /* Some padding */
    transition: all 0.3s ease; /* Smooth transition */
}
 .music-image {
  width:68px;
  height: 66px;
}
.music .music-name {
  color: var(--name-light-color);
}
.music-list .artist-name , .music-time , .actions {
  margin-top: 12px;
  color: var(--text-color);
}
.music-name {
  width:200px;
  margin-top: 12px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.music-player {
  position: fixed;
  bottom: -50%;
  width: 100%;
  transition: .5s;
}
.music-player.active {
  bottom: 0;
}
.player-image-container {
  width: 90px !important;
  height: 70px !important;
  position: relative;
  transition: .5s;
  border-radius: 50%;
}
.player-image-container img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.music-player-image.active {
  animation: circle 8s linear infinite;
  transition: .5s;
}
.music-player .music{
  height: 120px;
  width: 99%;
  display: flex;
  justify-content:start;
  gap: 15px;
  align-items: center;
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.down {
  position: absolute;
  top: -3vh;
  left: 44%;
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 8px;
  width: 60px;
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

@keyframes circle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.music-player .artist-name {
  color: var(--text-color);
}
.music-player .music-name {
  color: var(--player-name);
}

input[type=range] { 
  -webkit-appearance: none; 
  margin: 18px 0; 
  width: 100%; 
  background: transparent;
  background: linear-gradient(to right, red 0%, red var(--value), #3071a9 var(--value), #3071a9 100%);
}

input[type=range]:focus { 
  outline: none; 
} 

input[type=range]::-webkit-slider-runnable-track { 
  width: 100%;
  height: 5px; 
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
  background: #3071a9;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb { 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
  border: 1px solid #000000;
  height: 15px; 
  border-radius: 50%;
  width: 15px; 
  background: gold;
  cursor: pointer; 
  -webkit-appearance: none; 
  margin-top: -5px; 
} 
input[type=range]::-webkit-progress-value {
  backdrop-filter: gold !important;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  border-radius: 50%;
  width: 15px;
  background: gold;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}



.play{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.musicRepresentation {
        position: absolute;
        bottom: 50;
        width: 100%;
        height: 50px; 
        z-index: 10;
    }
.musicRepresentation img{
  width: 100%;
  height: 200px !important;
}